.findpwd-page1 {
    padding: 20px;
    width: 813px;
    height: 390px;
    background: inherit;
    background-color: rgba(248, 248, 248, 1);
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(242, 242, 242, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.findpwd-title span {
    position: absolute;
    left: 57px;
    top: 80px;
    width: 133px;
    height: 24px;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.findpwd-title a {
    position: absolute;
    left: 138px;
    top: 84px;
    text-decoration-line: none;
    width: 139px;
    height: 19px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    color: #0066FF;
}

.findpwd-maincontent {
    position: relative;
    padding: 20px;
    left: 20%;
    top: 10%;
    width: 813px;
    height: 390px;
    /*background-color: red;*/
}

.findpwd-page1 header>span {
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.findpwd-page1 section {
    margin-left: 20%;
}

.findpwd-user,
.identycode-input {
    margin-top: 30px;
    height: 50px;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #BCBCBC;
}

.findpwd-user {
    width: 412px;
}

.identycode-input {
    width: 290px;
}

#identyimg {
    width: 120px;
    height: 50px;
    margin-left: -4px;
    margin-top: -7px;
}

.nextstep1 {
    width: 412px;
    height: 50px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #0099FF;
    border: 0;
    margin-top: 40px;
}

.mobile-check span {
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.mobile-check button {
    width: 122px;
    height: 50px;
    background-color: #EFEFEF;
    border: 0;
}

#finish-img {
    width: 87px;
    height: 86px;
    margin-top: 25px;
    margin-left: 30%;
    margin-bottom: 45px;
}

#finish-text {
    text-align: center;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-right: 25%;
}

#finish-text a {
    color: #0099FF;
}