<main class="baseinfo-page" ng-controller="bindequipinfoController">
    <div class="baseinfo-header row">
        <p class="col-sm-4">绑定用户数：<span>{{totalRecord}}人</span></p>
        <p class="col-sm-4">经扫码绑定：<span>{{binddatas.scanTimes}}人</span></p>
        <p class="col-sm-4">经分享绑定：<span>{{binddatas.shareTimes}}人</span></p>
    </div>
    <!--表格-->
    <table id="personManage-table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>序号</th>
                <th>行业平台账号</th>
                <th>第三方企业账号</th>
                <th>性别</th>
                <th>绑定时间</th>
                <th>绑定来源</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in items">
                <td>{{$index + 1}}</td>
                <td>{{x.uplatAccount}}</td>
                <td>{{x.platAccount}}</td>
                <td>{{x.sex}}</td>
                <td>{{x.relevanceTime|currentDate}}</td>
                <td>{{x.origin}}</td>
                <td><button type="button" class="equipbindbtn" ng-click="loosebind(x.uUserID)">解绑</button></td>
            </tr>
        </tbody>
    </table>
    <!--分页-->
    <nav class="select-page">
        <ul class="pagination">
            <li>
                <a class="thepageChange" ng-click="Previous()"><span>上一页</span></a>
            </li>
            <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}">
                <a class="thepageChange" ng-click="selectPage(page)">{{page}}</a>
            </li>
            <li>
                <a class="thepageChange" ng-click="Next()"><span>下一页</span></a>
            </li>
        </ul>
    </nav>
</main>