<main class="baseinfo-page" ng-controller="equipmentlogController">
    <div class="baseinfo-header row">
        <p class="col-sm-6">日志上报记录：<span>{{logdatas.length}}条</span></p>
        <button class="errorexportbtn  col-sm-offset-4" ng-click="exportToExcel('.logtable','mysheet')">导出数据</button>
    </div>
    <!--表格-->
    <table style="text-align: center;vertical-align: middle;" id="equiplog-table " class=" table table-bordered  table-hover logtable">
        <thead>
            <tr>
                <th>序号</th>
                <th>类型</th>
                <th>操作内容</th>
                <th>操作时间</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in items">
                <td>{{$index + 1}}</td>
                <td>{{x.type|logtype}}</td>
                <!--<td>{{x.payload.reason}} {{x.payload.heartbeat}} {{x.payload.keep_alive}}</td>-->
                <td>{{x.payload}}</td>
                <td>{{x.timestamp|logtime}}</td>
            </tr>
        </tbody>
    </table>
    <!--分页-->
    <nav class="select-page">
        <ul class="pagination">
            <li>
                <a class="thepageChange" ng-click="Previous()"><span>上一页</span></a>
            </li>
            <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}">
                <a class="thepageChange" ng-click="selectPage(page)">{{page}}</a>
            </li>
            <li>
                <a class="thepageChange" ng-click="Next()"><span>下一页</span></a>
            </li>
        </ul>
    </nav>
</main>