<main class="baseinfo-page runanalysis-page" ng-controller="runanalysisController">
    <!--<div class="baseinfo-header row">
        <p class="col-sm-1">时段分析：</p>
        <button class="run-time-analysis run-time-analysisactive">全部</button>
        <button class="run-time-analysis">上一周</button>
        <button class="run-time-analysis">上一月</button>
        {{timestamp}}
    </div>-->
    <!--图表部分-->
    <div class="chartsdiv">
        <header>
            <button class="chartsbtn chartsbtnactive" ng-click="starttime()">
                  <p class="btnheader">启动时长</p> 
                  <p class="btnnum">{{everydayNum}}</p>
            </button>
            <button class="chartsbtn" ng-click="runtimes()">
                  <p class="btnheader">启动次数</p>
                  <p class="btnnum">{{startupNum}}</p>
            </button>
            <button class="chartsbtn" ng-click="outlinetimes()">
                  <p class="btnheader">离线次数</p>
                  <p class="btnnum">{{endupNum}}</p>
            </button>
            <button class="chartsbtn" ng-click="clickfun()">
                  <p class="btnheader">点击功能项</p>
                  <p class="btnnum">6</p>
            </button>
        </header>
        <div class="chartsmain">
            <start-time id="startTime" date="date" everyday="everyday" difference="difference" ng-if="startFlag&&date"></start-time>
            <run-times id="runTimes" date="date" startup="startup" startupdifference="startupdifference" ng-if="runFlag"></run-times>
            <outline-times id="outlineTimes" date="date" endup="endup" endupdifference="endupdifference" ng-if="outlineFlag"></outline-times>
            <click-fun id="clickFun" date="date" legend="legend" item="item" ng-if="clickFlag"></click-fun>
        </div>
    </div>
    <!--表格部分-->
    <div class="tablediv">
        <header>
            <button ng-click="getCsv()" class="exportbtn"></button>
        </header>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>日期</th>
                    <th>启动时长</th>
                    <th>增长率</th>
                    <th>启动次数</th>
                    <th>增长率</th>
                    <th>离线次数</th>
                    <th>增长率</th>
                    <th>点击功能项</th>
                    <th>增长率</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in items">
                    <td>{{x.timestamp | logtime}}</td>
                    <td>{{x.everyday}}</td>
                    <td>{{x.difference}}</td>
                    <td>{{x.startup}}</td>
                    <td>{{x.startup_difference}}</td>
                    <td>{{x.endup}}</td>
                    <td>{{x.endup_difference}}</td>
                    <td>{{x.endup}}</td>
                    <td>{{x.endup_difference}}</td>
                </tr>
            </tbody>
        </table>
        <!--分页-->
        <nav class="select-page">
            <ul class="pagination">
                <li>
                    <a class="thepageChange" ng-click="Previous()"><span>上一页</span></a>
                </li>
                <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}">
                    <a class="thepageChange" ng-click="selectPage(page)">{{page}}</a>
                </li>
                <li>
                    <a class="thepageChange" ng-click="Next()"><span>下一页</span></a>
                </li>
            </ul>
        </nav>
    </div>

</main>