<main ng-controller="changePwdController">

    <!-- Unnamed (矩形) -->
    <div id="u9224" class="ax_default _形状">
        <div id="u9224_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9225" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u9226" class="ax_default _文本段落">
        <div id="u9226_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9227" class="text" style="visibility: visible;">
            <p><span>当前密码：</span></p>
        </div>
    </div>

    <!-- 当前密码框体 -->
    <div id="u9228" class="ax_default _形状">
        <input id="u9228_div" type="password" name="password" ng-model="oldPassword">
        <div id="u9229" class="text" style="display: none; visibility: hidden">

        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u9230" class="ax_default _文本段落">
        <div id="u9230_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9231" class="text" style="visibility: visible;">
            <p><span>新密码：</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u9232" class="ax_default _形状">
        <input id="u9232_div" type="password" name="password" ng-model="newPassword">
        <!-- Unnamed () -->
        <div id="u9233" class="text" style="display: none; visibility: hidden">
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u9234" class="ax_default _文本段落">
        <div id="u9234_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9235" class="text" style="visibility: visible;">
            <p><span>确认新密码：</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u9236" class="ax_default _形状">
        <input id="u9236_div" type="password" name="password" ng-model="renewPassword">
        <div id="u9237" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u9238" class="ax_default _形状">

        <button ng-click="savePassword()" id="u9238_div" style="visibility: visible;">
            保&nbsp;&nbsp; 存
        </button>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u9240" class="ax_default _文本段落">
        <div id="u9240_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9241" class="text" style="visibility: visible;">
            <p><span>修改密码</span></p>
        </div>
    </div>
</main>