<main id="createRole-page" class="createMember-page" ng-controller="memberDetailsController">
    <div class="home-title">
        <img id="u149_img" class="img " src="images/index/u149.png" />
        <span class="home-text">系统成员管理 &gt; 成员管理 &gt; 成员详情</span>
    </div>
    <div class="home-second-title personManage-second-title">
        <p>成员详情</p>
        <button type="button" id="goback" ng-click="goback()">返回</button>
        <button type="button" id="save" ng-click="save()">保存</button>
    </div>
    <section id="create-member">
        <span id="warning"><img id="u8504_img" class="img " src="images/roleDetails/u8504.png">修改后请按“保存”键才能生效。</span>
        <div>
            <strong>当前角色：{{defaultrole}}</strong>
            <p><span class="flag">*</span>账号角色：
                <select class="memberinput" ng-model="memberrole" ng-options="x.role for x in roles">
                </select>
            </p>
        </div>
        <div>
            <p><span class="flag">*</span>登录账号：
                <input class="memberinput" type="text" ng-model="memberlogin" disabled>
            </p>
        </div>
        <div>
            <p><span class="flag">*</span>登录密码：
                <input class="memberinput" type="text" ng-model="memberpwd">
            </p>
        </div>
        <div>
            <p><span class="flag">*</span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：
                <input class="memberinput" type="text" ng-model="membername" disabled>
            </p>
        </div>
        <div>
            <p><span class="flag">*</span>联系电话：
                <input class="memberinput" type="text" ng-model="memberphone">
            </p>
        </div>
        <div>
            <p><span class="flag">*</span>联系邮箱：
                <input class="memberinput" type="email" ng-model="memberemail">
            </p>
        </div>
        <div>
            <p><span class="flag">*</span>注册时间：
                <input class="memberinput" type="text" ng-model="registdate" disabled>
            </p>
        </div>
        <div>
            <p><span class="flag">*</span>最近登录：
                <input class="memberinput" type="text" ng-model="logindate" disabled>
            </p>
        </div>
    </section>
</main>